@media (min-width: 500px) {
    body {
        background-color: lightgray;
      }
}

@media (max-width: 499px) {
    body {
        background-color: darkgray;
    }
}

.container {
  display: flex;
  justify-content: space-around;
  height: 120px;
}

.titulo {
  font-family: Arial, sans-serif;
}

ul li {
  list-style: none;
}
