@media (min-width: 500px) {
    body {
        background-color: lightgray;
      }
}

@media (max-width: 499px) {
    body {
        background-color: darkgray;
    }
}

.container {
  display: flex;
  flex-direction: column;
}

.titulo {
  font-family: Arial, sans-serif;
}


h1 {
  padding: 10px;
  margin: auto;
  background-color: lightblue;
}

p {
  color: blue;
  text-align: justify;
  text-shadow: 2px;
}

.titulo {
  text-align: center;
}
